/* .section-header
{
	background:#4692f0;
	position:relative;
	margin-top:5px;
	
}



.f-items
{
	display:inline-block;
	text-align:center;
	padding:4px;
	max-width:164px;
	max-height:250px;
	border-right:solid#4692f0 3px;
	
}

.name
{   
	display:block;
	height:36px;
	margin-bottom:4px;
	overflow-wrap:break-word;
	text-align:center;
	
}

ul.row-content li .price
{
	color:#aa0a00;
	font-size:16px;
	margin:0 0 5px;
	
}

ul.row-content li .rating
{
	display:block;
	margin:10px auto 5px;
}

ul.row-content
{
	display: flex;
	border-bottom:dotted #4692f0 2px;
	justify-content: center;
	
}

.section-header .button
{
	padding:4px;
	float:right;
	position:absolute;
	right:7px;
	top:7px;
	color:#333;
	background:#deedfd;
}


a,div,h2,ul
{
	margin:0;
	padding:0;
	border:0;
	outline:0;
	font-weight:inherit;
	font-style:inherit;
	font-size:100%;
	font-family:inherit;
	vertical-align:baseline;
}


ol,ul
{
	list-style:none
}

a
{
	text-decoration:none;
	color:inherit;
}

a.link
{
	color:#2934a3;
	text-decoration:underline;
}

a.link:hover
{
	color:#000a66;
}


.img{
	position: relative;
	width:150px;
	height:100px;
	padding: 5px;
	margin: 5px;
} */